.dashboard-container {
    /* background-color: aqua; */
    display: flex;
    height: 100vh;
    
}

.view-list-sec {
    margin-top: 100px;
}

.alert-box {
    /* position: absolute;
    bottom: 0; */
}

.item-container {
    display: flex;
    /* overflow: scroll; */
    height: auto;
    background-color: #d2d2d294;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 10px 0;
    /* height: 50vh; */
}
.item-single {
    width: 90%;
    background-color: #fff;
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 5px;

}
.item-single h3, p {
    text-align: center;
}

.item-single h3 {
    font-size: 20px;
}
.view-list-title h1{
    text-align: center;
}
.submit-btn-container .dashboard-submit-btn {
    width: 30%;
    margin-top: 15px;
}
